---

---

<section class="mx-auto max-w-screen-lg">
	<div
		class="intersect-once mt-16 flex flex-col items-center justify-center gap-8 rounded-xl bg-rose-400 p-8 intersect:animate-fade-right sm:flex-row"
	>
		<div>
			<h2 class="text-center text-4xl font-bold lg:text-5xl lg:tracking-tight">
				Scan QR Code for Demo Menu
			</h2>
			<p class="mt-2 text-center">
				*The demo menu represents how the menu will look like on "coffee cup" plan which does not
				include "self order" feature but everything else.
			</p>
		</div>
		<div class="flex w-full flex-col items-center justify-center gap-2">
			<img
				src="/assets/astro-menu-qr.svg"
				alt="QR code for astro menu"
				class="h-64 w-64 rounded-lg border-8 border-black"
			/>
			<a
				href="https://admin-qr-menu.netlify.app/qr-menu/sZ8cqIq1ceNOPDAwDB18/MshogdkMdPPvzXCheljs/q5hmh0r4Zdyu8lu8gA1k"
				class="underline md:invisible"
				target="_blank">Or click here</a
			>
		</div>
	</div>
</section>
