---
import { Icon } from 'astro-iconify'
import Button from '@components/ui/button.astro'

const FAQs = [
	{
		question: 'Can I try Astro Menu before I buy?',
		answer:
			'Yes, you can try Astro Menu for free for 1 Month. simply create an account and start using Astro Menu right away.'
	},
	{
		question: 'Which plan is in the free trial?',
		answer:
			'The free trial comes with "Dine Smart" plan. You can switch to any plan at any time during the trial period.'
	},
	{
		question: 'What is Waiter(ess) and Kitchen dashboard?',
		answer:
			'Waiter(ess) dashboard is a web-based application that allows your staff to manage orders and send them to kitchen. Kitchen dashboard is a web-based application that allows your kitchen staff to receive orders from waiter(ess) and prepare meals and notify waiter(ess) once they are ready. Both applications are included in all plans. except for "Coffee Cup" plan.'
	},
	{
		question: 'What is QR Code and how it works?',
		answer:
			'Each plan comes with a set number of QR codes per branch, each QR code is unique and can be printed and placed on tables , this allows each table to have its own order and statistics, waiter(ess) take orders from customers and manage each table order separately'
	},
	{
		question: 'What is self-order?',
		answer:
			'Self-order allows customers to place orders directly from their phones without the need for a waiter(ess) to attend the table, allowing customers to order at their own pace and convenience, and improve the table turnover rate.'
	},
	{
		question: 'Can customers pay directly from the menu?',
		answer:
			'No, Astro Menu is a QR Menu that allows customers to view your menu and place orders. Payments are made directly to you.'
	},
	{
		question: 'Can I share multiple business profiles with one account?',
		answer: `We don't recommend sharing your account with multiple businesses, each business should have its own account to manage orders and statistics separately, and have a unique meals set to your restaurant, You can create multiple branches under the same account to manage multiple locations of the same business.`
	},
	{
		question: 'Do I need to install any software to use Astro Menu?',
		answer:
			"Astro Menu is a web-based application. You don't need to install any software to use it. You can access it from any device with a web browser."
	}
]
---

<section class="">
	<div class="mt-32">
		<div class="intersect-once text-center intersect:animate-fade-right">
			<h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">Frequently asked questions</h2>
			<p class="mt-4 text-lg">
				Here are some questions and answers to help you understand <span class="text-rose-400"
					>Astro Menu</span
				> better.
			</p>
		</div>

		<div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-2 sm:place-items-center">
			<div>
				{
					FAQs.map((faq, index) => (
						<div class="relative mb-3 rounded-lg bg-gradient-to-r from-rose-100 to-white p-1">
							<button
								class="group relative flex w-full cursor-pointer items-center rounded-lg bg-white p-3 text-left font-semibold transition-all ease-in"
								data-collapse-target={`collapse-${index}`}
							>
								<span class="mr-10">{faq.question}</span>
								<Icon
									name="tabler:plus"
									class="absolute right-5 h-6 w-6 text-xs group-open:opacity-0"
								/>
								<Icon
									name="tabler:minus"
									class="absolute right-5 h-6 w-6 text-xs opacity-0 group-open:opacity-100"
								/>
							</button>
							<div
								data-collapse={`collapse-${index}`}
								class="h-0 overflow-hidden transition-all duration-700 ease-in-out"
							>
								<div class="text-blue-gray-500/80 p-4 text-sm leading-normal">{faq.answer}</div>
							</div>
						</div>
					))
				}
			</div>

			<img
				src="/assets/images/faq.svg"
				alt="faq image"
				class="intersect-once hidden h-3/4 intersect:animate-fade sm:inline"
			/>
		</div>
	</div>
</section>
