---
import SectionCard from '@components/ui/section-card.astro'

const FAQs = [
	{
		question: 'Can I try Astro Menu before I buy?',
		answer:
			'Yes, you can try Astro Menu for free for 14 days. simply create an account and start using Astro Menu right away.'
	},
	{
		question: 'Can I cancel my subscription at any time?',
		answer:
			'Yes, you can cancel your subscription at any time. Your subscription will be active until the end of the billing cycle.'
	},
	{
		question: 'Does Astro-Menu integrates with PoS systems?',
		answer:
			'No, Astro-Menu comes with its own cloud PoS system, you can manage your orders and statistics directly from your Astro-Menu account.'
	},
	{
		question: 'What is self-order?',
		answer:
			'Self-order allows customers to place orders directly from their phones without the need for a waiter(ess) to attend the table, allowing customers to order at their own pace and convenience, and improve the table turnover rate.'
	},
	{
		question: 'Can customers pay directly from the menu?',
		answer:
			'No, Astro Menu is a QR Menu that allows customers to view your menu and place orders. Payments are managed by you.'
	},
	{
		question: 'How I can add more branches to my subscription',
		answer: `Please contact our sales team on hello@astro-menu.com and they will help you add more branches to your subscription.`
	},
	{
		question: 'Do I need to install any software to use Astro Menu?',
		answer:
			"Astro Menu is a cloud web-based application. You don't need to install any software to use it. You can access it from any device with a web browser."
	}
]
---

<section class="-mx-8 mt-16 sm:mx-auto">
	<SectionCard bgColor="" sx="p-16">
		<div class="intersect-once mb-16 text-center intersect:animate-fade-right">
			<h2 class="text-4xl font-bold text-white lg:text-5xl lg:tracking-tight">
				Frequently asked questions
			</h2>
		</div>

		{
			FAQs.map((faq, index) => (
				<div class="rounded-xxl relative mb-3 bg-black p-[2px]">
					<button
						class="group rounded-xxl relative flex w-full cursor-pointer items-center  bg-white p-3 text-xl font-semibold transition-all duration-500 ease-in-out"
						data-collapse-target={`collapse-${index}`}
					>
						<span class="mr-10 ">{faq.question}</span>
						<img
							src="/assets/icons/plus.svg"
							class="absolute right-5 h-6 w-6 group-open:opacity-0"
						/>
						<img
							src="/assets/icons/minus.svg"
							class="absolute right-5 h-6 w-6 opacity-0 group-open:opacity-100"
						/>
					</button>
					<div
						data-collapse={`collapse-${index}`}
						class="h-0 overflow-hidden transition-all duration-500 ease-in-out"
					>
						<div class="p-6 text-xl font-semibold leading-normal text-white">{faq.answer}</div>
					</div>
				</div>
			))
		}
	</SectionCard>
</section>
