---
import { Image, Picture } from 'astro:assets'
import heroImage from 'assets/hero-2.svg'
import Link from '@components/ui/link.astro'
import astroLogo from 'assets/astro-logo.svg'
import CustomCard from '@components/custom-card.astro'
---

<main class="mb-6">
	<CustomCard bgColor="bg-white text-center">
		<div class="p-14">
			<h1 class="text-8xl font-bold uppercase text-black">
				Run your food business the modern way, <span class="text-primary whitespace-nowrap"
					>astro-menu way!!</span
				>
			</h1>
		</div>
	</CustomCard>
</main>
