---
import { Image, Picture } from 'astro:assets'
import heroImage from 'assets/hero.png'
import Link from '@components/ui/link.astro'
import astroLogo from 'assets/astro-logo.svg'
---

<!-- <Image
				src={astroLogo}
				class="inline-block h-16 w-16 animate-bounce animate-delay-0 animate-duration-[2500ms] animate-infinite animate-ease-linear lg:h-32 lg:w-32"
				alt="astro logo"
				loading="eager"
			/> -->
<main class="grid place-items-center pb-8 pt-8 md:grid-cols-2 md:pb-24 md:pt-0">
	<div
		class="intersect-once hidden py-6 intersect:animate-fade-right intersect:animate-duration-1000 md:order-1 md:block"
	>
		<Picture
			src={heroImage}
			alt="Astronaut in the air"
			widths={[200, 400, 600]}
			sizes="(max-width: 800px) 100vw, 620px"
			loading="eager"
			format="avif"
		/>
	</div>
	<div>
		<Image
			src={astroLogo}
			class="inline-block h-16 w-16 animate-bounce animate-delay-0 animate-duration-[2500ms] animate-infinite animate-ease-linear lg:h-16 lg:w-16"
			alt="astro logo"
			loading="eager"
		/>
		<h1
			class="intersect-once lg:tracking-none text-4xl font-bold leading-snug intersect:animate-fade-left lg:text-6xl lg:leading-relaxed xl:text-7xl xl:leading-tight xl:tracking-tighter dark:text-white"
		>
			Your Budget Menu Solution to run your Business
		</h1>
		<p class="intersect-once mt-4 max-w-xl text-lg intersect:animate-fade-right dark:text-white">
			<span class="text-rose-400">Astro Menu</span> is a modern and responsive QR menu for restaurants,
			it offers a simple and easy way to showcase your menu to your customers. with minimum efforts,
			transform your print menu to digital QR menu and increase your turnover.
		</p>
		<div class="mt-6 flex flex-col gap-3">
			<Link href="#" target="_blank" rel="noopener" style="primary" class="self-start"
				>Get Started
			</Link>

			<p class="self-start text-center text-gray-400">1 Month free, no credit card required</p>
		</div>
	</div>
</main>
