---
import { Image, Picture } from 'astro:assets'
import heroImage from 'assets/hero-2.svg'
import Link from '@components/ui/link.astro'
import astroLogo from 'assets/astro-logo.svg'
import CustomCard from '@components/custom-card.astro'
---

<main class="">
	<CustomCard bgColor="bg-white">Hello Hussam</CustomCard>
</main>
