---
import { Image, Picture } from 'astro:assets'
import heroImage from 'assets/hero.svg'
import Link from '@components/ui/link.astro'
import astroLogo from 'assets/astro-logo.svg'
---

<!-- <Image
				src={astroLogo}
				class="inline-block h-16 w-16 animate-bounce animate-delay-0 animate-duration-[2500ms] animate-infinite animate-ease-linear lg:h-32 lg:w-32"
				alt="astro logo"
				loading="eager"
			/> -->
<main class="grid place-items-center pb-8 pt-8 md:grid-cols-2 md:pb-24 md:pt-0">
	<div
		class="intersect-once hidden py-6 intersect:animate-fade-right intersect:animate-duration-1000 md:order-1 md:block"
	>
		<Picture
			src={heroImage}
			alt="Astronaut in the air"
			widths={[200, 400, 600]}
			sizes="(max-width: 400px) 100vw, 620px"
			loading="eager"
			format="avif"
		/>
		<div class="grid grid-cols-5 place-items-center">
			<div class="h-20 w-20 rounded-lg border-2 border-black">
				<p>PoS</p>
			</div>
			<div class="h-20 w-20 rounded-lg border-2 border-black">
				<p>QR Menu</p>
			</div>
			<div class="h-20 w-20 rounded-lg border-2 border-black">
				<p>Cloud Translation</p>
			</div>
			<div class="h-20 w-20 rounded-lg border-2 border-black">
				<p>High table turnover</p>
			</div>
			<div class="h-20 w-20 rounded-lg border-2 border-black">
				<p>Collect Your Payments</p>
			</div>
		</div>
	</div>
	<div>
		<Image
			src={astroLogo}
			class="inline-block h-16 w-16 animate-bounce animate-delay-0 animate-duration-[2500ms] animate-infinite animate-ease-linear lg:h-16 lg:w-16"
			alt="astro logo"
			loading="eager"
		/>
		<h1
			class="intersect-once lg:tracking-none text-4xl font-bold leading-snug intersect:animate-fade-left lg:text-6xl lg:leading-relaxed xl:text-7xl xl:leading-tight xl:tracking-tighter dark:text-white"
		>
			Your Budget Menu Solution to run your Business
		</h1>
		<p
			class="intersect-once mt-4 max-w-xl text-lg leading-snug intersect:animate-fade-right dark:text-white"
		>
			<span class="font-bold">Astro Menu</span> is a modern and responsive QR menu solution for your
			business, it offers a simple and easy way to showcase your menu to your customers, manage your
			restaurant with powerful PoS and with minimum efforts, transform your print menu to digital QR
			menu and increase your turnover.
		</p>
		<div class="mt-6 flex flex-col gap-3">
			<Link href="#" target="_blank" rel="noopener" style="primary" class="self-start"
				>Get Started
			</Link>

			<p class="self-start text-center text-black">1 Month free, no credit card required</p>
		</div>
	</div>
</main>
