---
import { getCollection } from 'astro:content'
import KeyFeatureItem from './key-feature-item.astro'

const featuresEntries = await getCollection('features', ({ data }) => {
	return !data.draft && data.publishDate < new Date()
})

featuresEntries.sort((a, b) => a.data.order - b.data.order)
---

<div role="tablist" class="tabs tabs-lifted mt-16">
	{
		featuresEntries.map((feature, index) => (
			<>
				<input
					type="radio"
					name="my_tabs_2"
					role="tab"
					class="tab h-14 font-bold"
					aria-label={feature.data.title}
					style="width:max-content;"
					checked={index === 0}
				/>
				<div role="tabpanel" class="tab-content rounded-box border-base-300">
					<KeyFeatureItem feature={feature} />
				</div>
			</>
		))
	}
</div>
