---
import Link from '@components/ui/link.astro'
import CheckMark from '@components/ui/icons/check.astro'
import CrossMark from '@components/ui/icons/cross.astro'

const { plan, index } = Astro.props
---

<div
	class={`intersect:animate-fade-left intersect-once flex justify-between flex-col w-full order-first lg:order-none  ${plan.popular ? 'border-rose-400 border-2' : 'border-[#f1f1f1] border-opacity-80 border-2'}  py-5 px-6 rounded-md`}
	style={`animation-delay: ${index * 0.25}s`}
>
	<div>
		<div style="display:flex; justify-content:space-between; align-items:center;" class="mb-2">
			<div style="display:flex; flex-direction: row; align-items:center; gap:8px">
				<img src={`/assets/plans/${plan.icon}.svg`} alt="coffee" class="mx-auto h-10 w-10" />
				<p class="whitespace-nowrap text-lg font-bold xl:text-2xl">
					{plan.name}
				</p>
			</div>
			{
				plan.popular && (
					<div class="rounded-lg bg-rose-500 px-2 py-1 text-xs uppercase text-white">
						<p>most popular</p>
					</div>
				)
			}
		</div>
		<p class="h-36 text-sm">{plan.description}</p>
		<p class="py-2 text-center text-5xl font-bold">
			{plan.price}
			<span class="text-sm">/month</span>
		</p>
	</div>
	<ul class="mt-8 grid gap-y-2 text-left">
		{
			plan.features.map((item, featureIndex) => (
				<li class="flex items-center gap-3">
					{item.startsWith('x') ? <CrossMark class="h-3 w-3" /> : <CheckMark class="h-4 w-4" />}
					<span>{item.startsWith('x') ? item.slice(1) : item}</span>
				</li>
			))
		}
	</ul>
	<div class="mt-8 flex">
		<Link href={plan.button.link || '#'} block style="primary">
			{plan.button.text || 'Get Started'}
		</Link>
	</div>
</div>
