---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import SectionHead from '@components/sectionhead.astro'
import Button from '@components/ui/button.astro'

// Filter blog entries with 'draft: false' & date before current date
const featuresEntries = await getCollection('features', ({ data }) => {
	return !data.draft && data.publishDate < new Date()
})

// Sort content entries by publication date
featuresEntries.sort(function (a, b) {
	return a.data.order.valueOf() - b.data.order.valueOf()
})

const collectionsTitles = [...new Set(featuresEntries.map((entry) => entry.data.category))]
---

<Layout title="Features">
	<Container>
		<SectionHead sx="text-white">
			<Fragment slot="title">Astro-Menu Features</Fragment>
			<Fragment slot="desc"> Learn more about Astro-Menu features and how to use them </Fragment>
		</SectionHead>
		<main class="mt-16">
			<ul class="menu w-56 rounded-box bg-base-200 text-white">
				{
					collectionsTitles.map((collection) => (
						<li>
							<h2 class="menu-title capitalize">{collection}</h2>
							<ul>
								{featuresEntries
									.filter((entry) => entry.data.category === collection)
									.map((featureEntry) => (
										<li>
											<a href={`features/${featureEntry.slug}`} class="menu-title">
												{featureEntry.data.title}
											</a>
										</li>
									))}
							</ul>
						</li>
					))
				}
			</ul>
		</main>
	</Container>
</Layout>
