---
import Container from '@components/container.astro'
import Link from '@components/ui/link.astro'
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'

const menuitems = [
	{ title: 'Home', path: '/' },

	{
		title: 'Features',
		path: '/features'
		// children: [
		// 	{ title: 'Action', path: '/' },
		// 	{ title: 'Another action', path: '#' },
		// 	{ title: 'Dropdown Submenu', path: '#' },
		// 	{ title: '404 Page', path: '/404' }
		// ]
	},
	// {
	// 	title: 'Pricing',
	// 	path: '/pricing'
	// },
	// {
	// 	title: 'About',
	// 	path: '/about'
	// },
	// {
	// 	title: 'Blog',
	// 	path: '/blog'
	// },
	{
		title: 'Contact',
		path: '/contact'
	}
	// {
	// 	title: 'Pro Version',
	// 	badge: true,
	// 	path: 'https://astroship-pro.web3templates.com/'
	// }
]
---

<Container>
	<header class="flex w-full flex-col items-center justify-between py-3 sm:flex-row">
		<Astronav>
			<div class="flex w-full flex-row items-center justify-between sm:w-auto">
				<div class="flex w-max flex-row items-center">
					<img src="/assets/astro-logo.svg" alt="Astro Menu" class="h-8 w-8" />
					<a href="/" class="text-lg"
						><span class="font-bold">Astro</span>-<span class="text-primary">Menu</span>
					</a>
				</div>

				<div class="block sm:hidden">
					<MenuIcon class="h-4 w-4" />
				</div>
			</div>

			<MenuItems class="hidden w-full flex-row items-center justify-between sm:flex">
				<div class="mx-auto">
					<ul class="flex flex-col gap-2 sm:mt-0 sm:flex-row sm:gap-8">
						{
							menuitems.map((item, index) => (
								<>
									{
										<li>
											<a href={item.path} class="font-bold hover:text-rose-400">
												<span>{item.title}</span>
											</a>
										</li>
									}
								</>
							))
						}
					</ul>
				</div>
				<div class="mt-2 flex w-max flex-row items-center gap-10 sm:mt-0">
					<!-- <Link href="#" block size="md" class="whitespace-nowrap bg-black text-white">Log in</Link> -->
					<a href="#" class="flex flex-row items-center gap-1 whitespace-nowrap font-bold"
						>Log in <img src="/assets/icons/login.svg" alt="Login" class="h-8 w-8" /></a
					>
					<Link href="#" size="md" block class="whitespace-nowrap">Get started</Link>
				</div>
			</MenuItems>
		</Astronav>
		<!-- <div>
			<div class="hidden items-center gap-4 lg:flex">
				<a href="#">Log in</a>
				<Link href="#" size="md">Sign up</Link>
			</div>
		</div> -->
	</header>
</Container>
