---
import Container from '@components/container.astro'
import Link from '@components/ui/link.astro'
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'
import astroLogo from 'assets/astro-logo.svg'
import { Image } from 'astro:assets'

const menuitems = [
	{ title: 'Home', path: '/' },

	{
		title: 'Features',
		path: '/features'
		// children: [
		// 	{ title: 'Action', path: '/' },
		// 	{ title: 'Another action', path: '#' },
		// 	{ title: 'Dropdown Submenu', path: '#' },
		// 	{ title: '404 Page', path: '/404' }
		// ]
	},
	{
		title: 'Pricing',
		path: '/pricing'
	},
<<<<<<< HEAD
	// {
	// 	title: 'About',
	// 	path: '/about'
	// },
	// {
	// 	title: 'Blog',
	// 	path: '/blog'
	// },
=======
	{
		title: 'About',
		path: '/about'
	},
	{
		title: 'Blog',
		path: '/blog'
	},
>>>>>>> staging
	{
		title: 'Contact',
		path: '/contact'
	}
	// {
	// 	title: 'Pro Version',
	// 	badge: true,
	// 	path: 'https://astroship-pro.web3templates.com/'
	// }
]
---

<div class="h-2 bg-black"></div>
<Container>
<<<<<<< HEAD
	<header class="mb-10 flex w-full flex-col items-center justify-between sm:flex-row">
=======
	<header class="flex w-full flex-col items-center justify-between py-3 text-white sm:flex-row">
>>>>>>> staging
		<Astronav>
			<div class="flex w-full flex-row items-center justify-between sm:w-auto">
				<div class="flex w-max flex-row items-center">
					<Image src={astroLogo} alt="Astro Menu" class="h-8 w-8" loading="eager" />
					<a href="/" class="text-lg"
						><span class="font-bold">Astro</span>-<span class="text-primary">Menu</span>
					</a>
				</div>

				<div class="block sm:hidden">
					<MenuIcon class="h-4 w-4" />
				</div>
			</div>

			<MenuItems
				class="mt-2 hidden w-full flex-row items-center justify-between rounded-md border-b-2 border-b-rose-200 bg-gradient-to-b from-white to-rose-100 p-4 sm:mt-0 sm:flex sm:border-none sm:bg-none"
			>
				<div class="mx-auto">
					<ul class="flex flex-col gap-1 sm:mt-0 sm:flex-row sm:gap-4">
						{
							menuitems.map((item, index) => (
								<>
									{
										<li>
											<a
												href={item.path}
												class="p-2 font-medium hover:rounded-lg hover:bg-gray-100 hover:p-2"
											>
												<span>{item.title}</span>
											</a>
										</li>
									}
								</>
							))
						}
					</ul>
				</div>
				<div class="mt-2 flex w-max flex-col items-center sm:mt-0 sm:flex-row sm:gap-10">
					<!-- <Link href="#" block size="md" class="whitespace-nowrap bg-black text-white">Log in</Link> -->
					<a href="#" class="flex flex-row items-center gap-1 whitespace-nowrap font-medium"
						>Log in <img src="/assets/icons/login.svg" alt="Login" class="h-8 w-8" /></a
					>
					<Link href="#" size="md" block class="whitespace-nowrap">Get started</Link>
				</div>
			</MenuItems>
		</Astronav>
		<!-- <div>
			<div class="hidden items-center gap-4 lg:flex">
				<a href="#">Log in</a>
				<Link href="#" size="md">Sign up</Link>
			</div>
		</div> -->
	</header>
</Container>
