---
import { Icon } from 'astro-iconify'

const FAQs = [
	{
		question: 'What is Material Tailwind?',
		answer:
			"111 We're not always in the position that we want to be at. We're constantly growing. We're constantly making mistakes. We're constantly trying to express ourselves and actualize our dreams."
	},
	{
		question: 'How to use Material Tailwind?',
		answer:
			"222 We're not always in the position that we want to be at. We're constantly growing. We're constantly making mistakes. We're constantly trying to express ourselves and actualize our dreams."
	},
	{
		question: 'What can I do with Material Tailwind?',
		answer:
			"333 We're not always in the position that we want to be at. We're constantly growing. We're constantly making mistakes. We're constantly trying to express ourselves and actualize our dreams."
	}
]
---

<section class="mt-32">
	<div class="mb-16">
		<h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">Frequently asked questions</h2>
		<p class="mt-4 text-lg text-slate-600">
			Astro Menu comes batteries included. It not just another QR Menu, it comes with Waiter(ess)
			dashboar and Kitchen dashboard to help you be in full control of customers orders.
		</p>
	</div>

	{
		FAQs.map((faq, index) => (
			<div class="relative mb-3">
				<h6 class="mb-0">
					<button
						class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
						data-collapse-target={`collapse-${index}`}
					>
						<span>{faq.question}</span>
						<Icon
							name="tabler:plus"
							class="absolute right-0 pt-1 text-xs group-open:opacity-0 w-8 h-8"
						/>
						<Icon
							name="tabler:minus"
							class="absolute right-0 pt-1 text-xs opacity-0 group-open:opacity-100 w-8 h-8"
						/>
					</button>
				</h6>
				<div
					data-collapse={`collapse-${index}`}
					class="h-0 overflow-hidden transition-all duration-700 ease-in-out"
				>
					<div class="p-4 text-sm leading-normal text-blue-gray-500/80">{faq.answer}</div>
				</div>
			</div>
		))
	}
</section>
