---
// @ts-ignore
import Button from '@components/ui/button.astro'
import { FEATURES } from 'content/features.js'
---

<!-- <script>
	let options = {
		root: document.querySelector('html'),
		rootMargin: '0px',
		threshold: 1.0
	}
	let observer = new IntersectionObserver((value) => {
		console.log(value)
	}, options)

	let target = document.querySelector('.testAnimate')

	observer.observe(target)
	console.log(observer)
</script> -->
<section class="mt-16 md:mt-0">
	<div class="intersect-once intersect:animate-fade-right">
		<h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">
			Everything you need to build your menu
		</h2>
		<p class="mt-4 text-lg text-slate-600">
			<span class="text-rose-400">Astro Menu</span> comes batteries included. It not just another QR
			Menu, it comes with Waiter(ess) dashboard and Kitchen dashboard to help you be in full control
			of customers orders, including many other features such as analytics, auto translation, meals filtering,
			and more.
		</p>
	</div>

	<div class="mt-16 grid gap-8 sm:grid-cols-2">
		{
			FEATURES.map((item, index) => (
				<div
					class="intersect-once flex items-center gap-4 intersect:animate-fade-down"
					style={`animation-delay: ${index * 75}ms;`}
				>
					<img src={`/assets/icons/${item.icon}.svg`} class="h-16 w-16" />
					<div>
						<h3 class="text-xl font-semibold">{item.title}</h3>
						<p class="mt-1 leading-relaxed text-gray-400">{item.description}</p>
						<Button size="sm" class="mt-2">
							Learn more
						</Button>
					</div>
				</div>
				// <video
				// 		class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
				// 		autoplay
				// 		loop
				// 		muted
				// 		playsinline
				// 	>
				// 		<source src={`/assets/features/${item.video}`} type="video/mp4" />
				// 	</video>
			))
		}
	</div>
</section>
