---
// @ts-ignore
import Button from '@components/ui/button.astro'
import { Debug } from 'astro:components'
import { getCollection } from 'astro:content'
import { FEATURES } from 'content/features.js'

const featuresEntries = await getCollection('features', ({ data }) => {
	return !data.draft && data.publishDate < new Date()
})

featuresEntries.sort((a, b) => a.data.order - b.data.order)
---

<section class="mt-16 md:mt-0">
	<div class="intersect-once intersect:animate-fade-right">
		<h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">
			Everything you need to build your menu
		</h2>
		<p class="mt-4 text-lg">
			<span class="text-rose-400">Astro Menu</span> comes batteries included. It not just another QR
			Menu, it comes with Waiter(ess) dashboard and Kitchen dashboard to help you be in full control
			of customers orders, including many other features such as analytics, auto translation, meals filtering,
			and more.
		</p>
	</div>

	<div class="mt-8 flex flex-row gap-8">
		<img src="/assets/landing-page/coffee-shop.svg" alt="Coffee Shop" class="w-1/2" />
		<div class="flex flex-col gap-4">
			<p>
				Astro-Menu is designed to address common issues with traditional menus, aiding your
				customers in finding what they desire swiftly, thereby preventing excessive menu exploration
				and reducing table turnover. It lessens the workload on your waiting staff by streamlining
				the order-taking process. Furthermore, it eliminates language barriers as customers can
				browse the menu in their preferred language, place their order, and have it instantly appear
				on the staff dashboard, eliminating the need for a common language. It also provides
				customers with your restaurant's Wi-Fi password and offers you analytics on the most ordered
				meals, total income, and more. In essence, Astro-Menu provides everything you need for a
				smooth and efficient restaurant operation.
			</p>
			<p>
				Astro-Menu goal is to offers you with everything that would make taking and serving orders
				faster and easier for you and your customers.
			</p>
			<p>Here are some key features that Astro-Menu offers you:</p>

			<div>
				{featuresEntries.map((item, index) => <li>{item.data.title}</li>)}
			</div>

			<a href="/features" class="btn btn-secondary mt-4 self-start"> Full Features List </a>
		</div>
	</div>
</section>
