---
// @ts-ignore
import Button from '@components/ui/button.astro'

const features = [
	{
		title: 'Dynamic QR Code Menu',
		description:
			"Create a dynamic QR code menu for your restaurant, or cafe, Update your menu in real-time and let your customers scan the QR code to view it. It's that simple!",
		icon: 'qr-code'
	},
	{
		title: 'Self Order',
		description:
			'Allow your customers to take their orders themselves select portions and add notes to their orders. This will help you reduce the number of waiters you need, and increase the speed of service',
		icon: 'self-order'
	},
	{
		title: 'Waiter(ess)/Kitchen Dashboard',
		description:
			'Get a dashboard for your waiters to manage orders, and a dashboard for your kitchen to manage the orders and notify the waiter when the order is ready.',
		icon: 'waiter'
	},
	{
		title: 'Analytics',
		description:
			'Get insights on your customers, and orders. Know what your customers like, and what they do not like. Improve your menu based on the data you get.',
		icon: 'analytics'
	},
	{
		title: 'Auto Translation',
		description:
			'Dont let the language be a barrier between you and your customers. Astro Menu will automatically translate your menu to your most frequent customers languages, and you can always add more languages.',
		icon: 'translate'
	},
	{
		title: 'Simple and Fast Menu',
		description:
			'With Astro Menu, you can create a simple and fast menu for your restaurant. It is easy to use and fast to load., dont overload customer with larg pdf files or images that takes forver to load.',
		icon: 'fast'
	}
]
---

<!-- <script>
	let options = {
		root: document.querySelector('html'),
		rootMargin: '0px',
		threshold: 1.0
	}
	let observer = new IntersectionObserver((value) => {
		console.log(value)
	}, options)

	let target = document.querySelector('.testAnimate')

	observer.observe(target)
	console.log(observer)
</script> -->
<div class="mt-16 md:mt-0">
	<h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">
		Everything you need to build your menu
	</h2>
	<p class="mt-4 text-lg text-slate-600">
		Astro Menu comes batteries included. It not just another QR Menu, it comes with Waiter(ess)
		dashboar and Kitchen dashboard to help you be in full control of customers orders.
	</p>
</div>

<div class="mt-16 grid gap-16 sm:grid-cols-2 md:grid-cols-3">
	{
		features.map((item) => (
			<div class="flex items-center gap-4">
				<div class="mt-1 h-24 w-24  shrink-0 rounded-full p-2">
					<img src={`src/assets/icons/${item.icon}.svg`} />
				</div>
				<div>
					<h3 class="text-lg font-semibold">{item.title}</h3>
					<p class="mt-1 leading-relaxed text-slate-700">{item.description}</p>
				</div>
			</div>
		))
	}
</div>

<div class="mt-8 flex justify-center">
	<Button size="lg" class="intersect:animate-wiggle" id="testAnimate"
		>Check out the full features list</Button
	>
</div>
