---
import { Picture } from 'astro:assets'
// import heroImage from "assets/hero.png";
import heroImage from 'assets/hero-2.svg'
import Link from '@components/ui/link.astro'
import { Icon } from 'astro-icon/components'
---

<main class="grid place-items-center pb-8 pt-8 md:pb-24 md:pt-12 lg:grid-cols-2">
	<div class="hidden py-6 md:order-1 md:block">
		<Picture
			src={heroImage}
			alt="Astronaut in the air"
			widths={[200, 400, 600]}
			sizes="(max-width: 800px) 100vw, 620px"
			loading="eager"
			format="avif"
		/>
	</div>
	<div>
		<h1
			class="text-5xl font-bold leading-snug lg:text-6xl lg:leading-relaxed lg:tracking-tight xl:text-7xl xl:leading-snug xl:tracking-tighter"
		>
			Ditch your <span class="rounded-2xl border-b-4 border-black bg-black text-white px-2"
				>primitive</span
			> menu <wbr />
			join the <span class="rounded-2xl bg-rose-400 px-2 text-white">Digital</span> world
		</h1>
		<p class="mt-4 max-w-xl text-lg text-slate-600">
			AstroMenu is a modern and responsive QR menu for restaurants, it offers a simple and easy way
			to showcase your menu to your customers. with minimum efforts, transform your print menu to
			digital QR menu and increase your turnover.
		</p>
		<div class="mt-6 flex flex-col gap-3 sm:flex-row">
			<Link
				href="#"
				href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
				target="_blank"
				class="flex items-center justify-center gap-1"
				rel="noopener"
			>
				<Icon class="h-5 w-5 text-white" name="bx:bxs-cloud-download" />

				Get Started Now
			</Link>
			<Link
				size="lg"
				style="outline"
				rel="noopener"
				href="https://github.com/surjithctly/astroship"
				class="flex items-center justify-center gap-1"
				target="_blank"
			>
				<Icon class="h-4 w-4 text-black" name="bx:bxl-github" />
				1 Month Free
			</Link>
		</div>
	</div>
</main>
