---
import { getCollection } from 'astro:content'
import LandingFeatureCard from './landing-feature-item.astro'

const featuresEntries = await getCollection('features', ({ data }) => {
	return !data.draft && data.publishDate < new Date()
})

featuresEntries.sort((a, b) => a.data.order - b.data.order)
---

<div class="flex flex-col">
	<LandingFeatureCard
		feature={featuresEntries.find((feature) => feature.data.title === 'Astro-Speed Menu')}
		color="bg-blue-50"
	/>
	<LandingFeatureCard
		feature={featuresEntries.find((feature) => feature.data.title === 'Minimum Clicks')}
		color="bg-rose-50"
		direction="flex-row-reverse"
	/>
	<a href="/features" class="btn-primary btn mt-8 self-center">Check out the full features list</a>
</div>
