---
import { getCollection } from 'astro:content'
import LandingFeatureCard from './landing-feature-item.astro'

const featuresEntries = await getCollection('features', ({ data }) => {
	return !data.draft && data.publishDate < new Date()
})

featuresEntries.sort((a, b) => a.data.order - b.data.order)
---

<div class="flex flex-col">
	<LandingFeatureCard
		feature={featuresEntries.find((feature) => feature.data.title === 'Astro-Speed')}
		color=""
	/>
	<LandingFeatureCard
		feature={featuresEntries.find((feature) => feature.data.title === 'Minimum Clicks')}
		color=""
		direction="flex-row-reverse"
	/>
</div>
