---
import PricingCard from '@components/pricing-card.astro'
import Button from '@components/ui/button.astro'

const pricing = [
	{
		name: 'Coffee Cup',
		price: '25$',
		popular: false,
		features: [
			'1 QR',
			'1 Branch',
			'3 Translation Languages',
			'Unlimited Meals',
			'Unlimited Menus',
			'1 million Scans /per month'
		],
		button: {
			text: 'Get Started',
			link: '/'
		},
		icon: 'coffeecup',
		description:
			'Ideal for small businesses like cafes or coffee shops with up to 15 tables. This plan offers basic digital menu features to streamline your operations and enhance customer experience.'
	},
	{
		name: 'Dine Smart',
		price: '80$',
		popular: false,
		features: [
			'30 QR Codes',
			'1 Branch',
			'3 Translation Languages',
			'Unlimited Meals',
			'Unlimited Menus',
			'Unlimited Scans*',
			'Kitchen Dashboard',
			'Waiter/ess Dashboard',
			'Anayltics Dashboard'
		],
		button: {
			text: 'Get Started',
			link: '/'
		},
		icon: 'dinesmart',
		description:
			'Designed for medium-sized restaurants with a capacity of up to 30 tables. The Growth Package provides additional customization options and analytics tools to help you optimize your menu and better understand your customers preferences.'
	},
	{
		name: 'Foodify',
		price: '135$',
		popular: true,
		features: [
			'40 QR Codes / Per Branch',
			'3 Branch',
			'5 Translation Languages',
			'Unlimited Meals',
			'Unlimited Menus',
			'Unlimited Scans*',
			'Kitchen Dashboard',
			'Waiter/ess Dashboard',
			'Anayltics Dashboard'
		],
		button: {
			text: 'Get Started',
			link: '/'
		},
		icon: 'foodify',
		description:
			'Designed for upscale restaurants and fine dining establishments with a capacity of up to 40 tables per branch, providing a galaxy of features to delight both chefs and patrons'
	},
	{
		name: 'Menu Master',
		price: '215$',
		popular: false,
		features: [
			'50 QR Codes / Per Branch',
			'5 Branch',
			'8 Translation Languages',
			'Unlimited Meals',
			'Unlimited Menus',
			'Unlimited Scans*',
			'Kitchen Dashboard',
			'Waiter/ess Dashboard',
			'Anayltics Dashboard'
		],
		button: {
			text: 'Get Started',
			link: '/'
		},
		icon: 'menumaster',
		description:
			'An elite package for restaurant chains and franchises with a capacity of up to 50 tables per branch, offering a constellation of tools to manage multiple locations with ease and precision.'
	}
]
---

<div class="mt-36 intersect:animate-fade-right">
	<h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">
		A Package for every business size
	</h2>
	<p class="mt-4 text-lg text-slate-600">
		Astro Menu offers a varaity of packages that covers all business sizes, starting from a small
		cafe with 15 tables to a franchise of 5 branches.
	</p>
</div>

<div class="mx-auto mt-12 grid gap-5 sm:grid-cols-2 lg:grid-cols-4">
	{pricing.map((item, index) => <PricingCard plan={item} index={index} />)}
</div>

<p class="mt-1 text-sm text-slate-600">
	*Unlimited scans are subject to fair usage policy. For more information, please refer to our terms
	of service.
</p>

<div class="mt-10 flex flex-col items-center gap-2 rounded-lg bg-rose-400 p-10 sm:flex-row">
	<p class="text-bold flex-grow text-xl font-bold text-white">
		Need a customized plan for your business, contact us and our sales team will get in touch with
		you shortly
	</p>
	<Button class="whitespace-nowrap">Contact Sales</Button>
</div>
