---
import { Image } from 'astro:assets'

const { color, title, description, direction = 'flex-row', imgSrc } = Astro.props
---

<div class:list={['rounded-xxl flex h-full justify-start gap-4 bg-white pb-10', direction]}>
	<Image class="rounded-xxl object-cover" src={imgSrc} alt="Astro Menu Phone" />
	<h2 class:list={['px-8 text-2xl font-extrabold capitalize lg:text-5xl lg:tracking-tight', color]}>
		{title}
	</h2>
	<p class="mt-4 px-8 text-xl text-black">
		{description}
	</p>
</div>
